.home {
  background: rgb(75,76,77);
  background: linear-gradient(0deg, rgba(75,76,77,1) 0%, rgba(122,116,116,1) 50%, rgba(68,66,66,1) 100%);
}

.text-center.book {
  background: rgb(31,58,85);
  background: linear-gradient(0deg, rgba(31,58,85,1) 0%, rgba(46,125,101,1) 50%, rgba(101,235,248,1) 100%);
}

html {
  scroll-behavior: smooth;
}
#book:hover {
  transform: scale(1.2);
}

